<!doctype html>
<%- model_class = Children -%>
<html lang="en" id="test">
	<head>
		<meta charset="utf-8" />
		
		
	</head>

	<body>
		

<div id='master'>
			<%= render :partial => "display_all_child_test_cases" %>
		</div>
