<!doctype html>
<%- model_class = Defect -%>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<div class="page-header">
			<h1> <%= 'Defect Analysis Report' %></h1>
		</div>
		
		<div id="dashboard_chart" style="width:800px; height:5px;">

</div>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
          var data = google.visualization.arrayToDataTable([
          ['Defect', 'Analysis'],
          ['Regression Defects',  <%= @reg_defect_count %> ],
          ['Unit Testing Defects',     <%=@unit_test_defect_count%> ]
         
        ]);
        
          var data2 = google.visualization.arrayToDataTable([
     	['Severity', 'Analysis'],
          ['Cosmetic Defect',  <%= @def_severity %> ]
          
         
        ]);

          var options = {
              title: 'Defect Analysis Dashboard'
          };
           var options2 = {
              title: 'Severity Analysis Dashboard'
          };

          var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
          chart.draw(data, options);

          var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
          chart2.draw(data2, options2);
      }
    
  </script>

  <div id="chart_div" style="width: 900px; height: 500px;"></div>

<div id="chart_div2" style="width: 900px; height: 500px;"></div>
</div>
</body>
</html>
