<%- model_class = Defect -%>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<script>
			function get_project_post(project_name) {
				$.ajax({
					type : "GET",
					data: { id: project_name},
					url : 'get_project_defects',
					dataType : "script",
					success : function(data) {
						// $('#testcases').html(data);
					}
					
				});
			}
			
			
		</script>
	</head>

	
		<%= form_tag do %>
		<%= select_tag  'project_name',options_for_select(@project.collect{ |u| [u.name] }),:onchange=>"get_project_post($(this).val())", :style=>"width: 500px;", :prompt => "All Projects" %>
		<% end %>

		<div id="project_defects">
			<%= render :partial => 'list_defects' %>
		</div>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load("visualization", "1", {
				packages : ["corechart"]
			});
		</script>

	
	