/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/jquery.dataTables.bootstrap
 *= require DT_bootstrap
 *= require_tree .
 */
#children_content{
  margin: 0px 0px 9px;
width: 1000px;
height: 95px;
}
#flash {
  background-color: #CFC;
  border: solid 1px #6C6;
}
/*.{
	margin-left: auto;
margin-right: auto;
width: 70%;

}*/

.footer-right {
float: right;
text-align: right;
margin-bottom: 0;
color: #444;
font-size: 11px;
line-height: 2;
}


